<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyes.www.mapper.common.CommonMapper">


	<!--                       공통 정보 테이블                                                        -->
	<!-- 공통 정보 전체 조회  -->
	<select id="commonInformationByAll" resultType="com.jyes.www.vo.common.InformationVo">
		SELECT 
		    common_information_id AS commonInformationId,
		    title AS title,
		    content AS content,
		    file_group_id AS fileGroupId,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_common_information
		WHERE 
			1 = 1
		AND 
			is_deleted = 'N'
	</select>
	
	<!-- 공통 정보 조회  -->
	<select id="commonInformationById" resultType="com.jyes.www.vo.common.InformationVo">
		SELECT 
		    common_information_id AS commonInformationId,
		    title AS title,
		    content AS content,
		    file_group_id AS fileGroupId,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_common_information
		WHERE 
			1 = 1
		AND 
			is_deleted = 'N'
		AND	
			common_information_id = #{commonInformationId}
	</select>
	
	<!-- 공통 정보 조건 검색  -->
	<select id="commonInformationByConditionSearch" parameterType="map" resultType="com.jyes.www.vo.common.InformationVo">
		SELECT 
		    common_information_id AS commonInformationId,
		    title AS title,
		    content AS content,
		    file_group_id AS fileGroupId,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate 
		FROM 
		    t_common_information 
		WHERE 
			1 = 1 
		AND 
			is_deleted = 'N' 
		<if test="searchKeyword">
			AND 
				(title LIKE CONCAT('%', #{searchKeyword}, '%') 
					OR 
				 content LIKE CONCAT('%', #{searchKeyword}, '%'))
		</if>
		order by reg_date desc 
		limit ${startIndex}, ${blockCount}
	</select>
	
	<!-- 공통 정보 조건 검색  -->
	<select id="commonInformationByConditionSearchCount" parameterType="map" resultType="int">
		SELECT 
		    count(1) 
		FROM 
		    t_common_information 
		WHERE 
			1 = 1 
		AND 
			is_deleted = 'N' 
		<if test="searchKeyword">
			AND 
				(title LIKE CONCAT('%', #{searchKeyword}, '%') 
					OR 
				 content LIKE CONCAT('%', #{searchKeyword}, '%'))
		</if>
		order by reg_date desc
	</select>
	
	<!-- 자주 쓰는 질문 목록 조회  -->
	<select id="informationFrequentedList" resultType="com.jyes.www.vo.common.InformationVo">
		SELECT 
		    common_information_id AS commonInformationId,
		    title AS title
		FROM 
		    t_common_information
		WHERE 
			1 = 1
		AND 
			is_deleted = 'N'
		AND	
			is_frequented = 'Y'
	</select>
	
	<!--  공통 정보 등록  -->
	<insert id="insertCommonInformation" parameterType="com.jyes.www.vo.common.InformationVo" useGeneratedKeys="true" keyProperty="commonInformationId">
		INSERT INTO t_common_information  
			(title, 
		     content, 
		     <if test="fileGroupId != null and fileGroupId > 0">
		     	file_group_id, 
		     </if>
		     reg_id, 
		     reg_date) 
	     VALUES 
	     	(#{title}, 
		     #{content}, 
		     <if test="fileGroupId != null and fileGroupId > 0">
		     	#{fileGroupId}, 
		     </if>
		     #{regId}, 
		     NOW())
	</insert>
	
	<!-- 자주쓰는 질문 설정  -->
	<update id="informationFrequented" parameterType="com.jyes.www.vo.common.InformationVo">
		UPDATE t_common_information
		SET
		    is_frequented = 'Y', 
		    mod_id = #{modId}, 
		    mod_date = NOW() 
		WHERE
		    common_information_id = #{commonInformationId}
	</update>
	
	<!-- 공통 정보 수정  -->
	<update id="updateInformation" parameterType="com.jyes.www.vo.common.InformationVo">
		UPDATE t_common_information
		SET 
		    title = #{title}, 
		    content = #{content}, 
		    <if test="fileGroupId != null and fileGroupId > 0">
		    	file_group_id = #{fileGroupId}, 
		    </if>
		    mod_id = #{modId}, 
		    mod_date = NOW() 
		WHERE
		    common_information_id = #{commonInformationId}
	</update>
	
	<!-- 공통 정보 삭제  -->
	<update id="deleteInformation" parameterType="com.jyes.www.vo.common.InformationVo">
		UPDATE t_common_information
		SET
		    is_deleted = 'Y', 
		    mod_id = #{modId}, 
		    mod_date = NOW() 
		WHERE
		    common_information_id = #{commonInformationId}
	</update>


	<!--                      지역 상권 분석 테이블                                                      -->
	<!--  지역 상권 분석 전체 조회  -->
	<select id="businessDistrictAnalysisByAll" resultType="com.jyes.www.vo.common.BusinessDistrictAnalysisVo">
		SELECT 
		    business_district_analysis_id AS businessDistrictAnalysisId,
		    area_id AS areaId,
		    main_category_id AS mainCategoryId,
		    sub_category_id AS subCategoryId,
		    average_cost AS averageCost,
		    average_earning AS averageEarning,
		    operate_profit AS operateProfit,
		    operate_expense AS operateExpense,
		    all_business_density AS allBusinessDensity,
		    sido_business_density AS sidoBusinessDensity,
		    dong_business_density AS dongBusinessDensity,
		    market_sales_scale AS marketSalesScale,
		    store_sales_scale AS storeSalesScale,
		    unit_price AS unitPrice,
		    uses AS uses,
		    peak_gender_cd AS peakGenderCd,
		    peak_age_range_cd AS peakAgeRangeCd,
		    peak_week_cd AS peakWeekCd,
		    peak_time_start_cd AS peakTimeStartCd,
		    peak_time_end_cd AS peakTimeEndCd,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_business_district_analysis
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
	</select>
	
	<!--  지역 상권 분석 조회  -->
	<select id="businessDistrictAnalysisById" resultType="com.jyes.www.vo.common.BusinessDistrictAnalysisVo">
		SELECT 
		    business_district_analysis_id AS businessDistrictAnalysisId,
		    area_id AS areaId,
		    main_category_id AS mainCategoryId,
		    sub_category_id AS subCategoryId,
		    average_cost AS averageCost,
		    average_earning AS averageEarning,
		    operate_profit AS operateProfit,
		    operate_expense AS operateExpense,
		    all_business_density AS allBusinessDensity,
		    sido_business_density AS sidoBusinessDensity,
		    dong_business_density AS dongBusinessDensity,
		    market_sales_scale AS marketSalesScale,
		    store_sales_scale AS storeSalesScale,
		    unit_price AS unitPrice,
		    uses AS uses,
		    peak_gender_cd AS peakGenderCd,
		    peak_age_range_cd AS peakAgeRangeCd,
		    peak_week_cd AS peakWeekCd,
		    peak_time_start_cd AS peakTimeStartCd,
		    peak_time_end_cd AS peakTimeEndCd,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_business_district_analysis
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			business_district_analysis_id = #{businessDistrictAnalysisId}
	</select>
	
	<!--  지역 시퀀스와 대분류 카테고리, 중분류 카테고리로 지역상권 정보 가져오기 :: 지역 상권 분석 조회  -->
	<select id="businessDistrictAnalysisByConditionSearch" parameterType="com.jyes.www.vo.common.BusinessDistrictAnalysisVo" resultType="com.jyes.www.vo.common.BusinessDistrictAnalysisVo">
		SELECT 
		    business_district_analysis_id AS businessDistrictAnalysisId,
		    area_id AS areaId,
		    main_category_id AS mainCategoryId,
		    sub_category_id AS subCategoryId,
		    average_cost AS averageCost,
		    average_earning AS averageEarning,
		    operate_profit AS operateProfit,
		    operate_expense AS operateExpense,
		    all_business_density AS allBusinessDensity,
		    sido_business_density AS sidoBusinessDensity,
		    dong_business_density AS dongBusinessDensity,
		    market_sales_scale AS marketSalesScale,
		    store_sales_scale AS storeSalesScale,
		    unit_price AS unitPrice,
		    uses AS uses,
		    peak_gender_cd AS peakGenderCd,
		    peak_age_range_cd AS peakAgeRangeCd,
		    peak_week_cd AS peakWeekCd,
		    peak_time_start_cd AS peakTimeStartCd,
		    peak_time_end_cd AS peakTimeEndCd,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_business_district_analysis
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			area_id = #{areaId}
		AND	
			main_category_id = #{mainCategoryId}
		AND	
			sub_category_id = #{subCategoryId}
	</select>
	
	<!--  지역 상권 분석 등록  -->
	<insert id="insertBusinessDistrictAnalysis" parameterType="com.jyes.www.vo.common.BusinessDistrictAnalysisVo" useGeneratedKeys="true" keyProperty="businessDistrictAnalysisId">
		INSERT INTO t_business_district_analysis 
			(area_id, 
		     main_category_id, 
		     sub_category_id, 
		     average_cost, 
		     average_earning, 
		     operate_profit, 
		     operate_expense, 
		     all_business_density, 
		     sido_business_density, 
		     dong_business_density, 
		     market_sales_scale, 
		     store_sales_scale, 
		     unit_price, 
		     uses, 
		     peak_gender_cd, 
		     peak_age_range_cd, 
		     peak_week_cd, 
		     peak_time_start_cd, 
		     peak_time_end_cd, 
		     reg_id, 
		     reg_date) 
	     VALUES 
	     	(#{areaId}, 
		     #{mainCategoryId}, 
		     #{subCategoryId}, 
		     #{averageCost}, 
		     #{averageEarning}, 
		     #{operateProfit}, 
		     #{operateExpense}, 
		     #{allBusinessDensity}, 
		     #{sidoBusinessDensity}, 
		     #{dongBusinessDensity}, 
		     #{marketSalesScale}, 
		     #{storeSalesScale}, 
		     #{unitPrice}, 
		     #{uses}, 
		     #{peakGenderCd}, 
		     #{peakAgeRangeCd}, 
		     #{peakWeekCd}, 
		     #{peakTimeStartCd}, 
		     #{peakTimeEndCd}, 
		     #{regId}, 
		     NOW())
	</insert>
	
	<!--  지역 상권 분석 수정  -->
	<update id="updateBusinessDistrictAnalysis" parameterType="com.jyes.www.vo.common.BusinessDistrictAnalysisVo">
		UPDATE t_business_district_analysis
		SET
			<if test="averageCost != null">
		    	average_cost = #{averageCost}, 
		    </if>
		    <if test="averageEarning != null">
		    	average_earning = #{averageEarning}, 
		    </if>
		    <if test="operateProfit != null">
		    	operate_profit = #{operateProfit}, 
		    </if>
		    <if test="operateExpense != null">
		    	operate_expense = #{operateExpense}, 
		    </if>
		    <if test="allBusinessDensity != null">
		    	all_business_density = #{allBusinessDensity}, 
		    </if>
		    <if test="sidoBusinessDensity != null">
		    	sido_business_density = #{sidoBusinessDensity}, 
		    </if>
		    <if test="dongBusinessDensity != null">
		    	dong_business_density = #{dongBusinessDensity}, 
		    </if>
		    <if test="marketSalesScale != null">
		    	market_sales_scale = #{marketSalesScale}, 
		    </if>
		    <if test="storeSalesScale != null">
		    	store_sales_scale = #{storeSalesScale}, 
		    </if>
		    <if test="unitPrice != null">
		    	unit_price = #{unitPrice}, 
		    </if>
		    <if test="uses != null">
		    	uses = #{uses}, 
		    </if>
		    peak_gender_cd = #{peakGenderCd}, 
		    peak_age_range_cd = #{peakAgeRangeCd}, 
		    peak_week_cd = #{peakWeekCd}, 
		    peak_time_start_cd = #{peakTimeStartCd}, 
		    peak_time_end_cd = #{peakTimeEndCd}, 
		    mod_id = #{modId}, 
		    mod_date = NOW() 
		WHERE
		    business_district_analysis_id = #{businessDistrictAnalysisId}
	</update>
	


	<!--                      지역 입지 분석 테이블                                                      -->
	<!--  지역 입지 분석 전체 조회  -->
	<select id="locationAnalysisByAll" resultType="com.jyes.www.vo.common.LocationAnalysisVo">
		SELECT 
		    location_analysis_id AS locationAnalysisId,
		    area_id AS areaId,
		    aprtment_household AS aprtmentHousehold,
		    aprtment_transaction_price AS aprtmentTransactionPrice,
		    aprtment_residence AS aprtmentResidence,
		    flow_population AS flowPopulation,
		    flow_age_range_cd AS flowAgeRangeCd,
		    flow_time_start_cd AS flowTimeStartCd,
		    flow_time_end_cd AS flowTimeEndCd,
		    residence_population AS residencePopulation,
		    work_population AS workPopulation,
		    household AS household,
		    business AS business,
		    income AS income,
		    delivery_gender_cd AS deliveryGenderCd,
		    delivery_age_range_cd AS deliveryAgeRangeCd,
		    delivery_week_cd AS deliveryWeekCd,
		    delivery_time_start_cd AS deliveryTimeStartCd,
		    delivery_time_end_cd AS deliveryTimeEndCd,
		    delivery_method_cd AS deliveryMethodCd,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_location_analysis
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
	</select>
	
	<!--  지역 입지 분석 조회  -->
	<select id="locationAnalysisById" parameterType="map" resultType="com.jyes.www.vo.common.LocationAnalysisVo">
		SELECT 
		    location_analysis_id AS locationAnalysisId,
		    area_id AS areaId,
		    aprtment_household AS aprtmentHousehold,
		    aprtment_transaction_price AS aprtmentTransactionPrice,
		    aprtment_residence AS aprtmentResidence,
		    flow_population AS flowPopulation,
		    flow_age_range_cd AS flowAgeRangeCd,
		    flow_time_start_cd AS flowTimeStartCd,
		    flow_time_end_cd AS flowTimeEndCd,
		    residence_population AS residencePopulation,
		    work_population AS workPopulation,
		    household AS household,
		    business AS business,
		    income AS income,
		    delivery_gender_cd AS deliveryGenderCd,
		    delivery_age_range_cd AS deliveryAgeRangeCd,
		    delivery_week_cd AS deliveryWeekCd,
		    delivery_time_start_cd AS deliveryTimeStartCd,
		    delivery_time_end_cd AS deliveryTimeEndCd,
		    delivery_method_cd AS deliveryMethodCd,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_location_analysis
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			location_analysis_id = #{locationAnalysisId}
	</select>
	
	<!--  지역 시퀀스로 지역 입지 분석 불러오기 :: 지역 입지 분석 조회  -->
	<select id="locationAnalysisByAreaId" parameterType="map" resultType="com.jyes.www.vo.common.LocationAnalysisVo">
		SELECT 
		    location_analysis_id AS locationAnalysisId,
		    area_id AS areaId,
		    aprtment_household AS aprtmentHousehold,
		    aprtment_transaction_price AS aprtmentTransactionPrice,
		    aprtment_residence AS aprtmentResidence,
		    flow_population AS flowPopulation,
		    flow_age_range_cd AS flowAgeRangeCd,
		    flow_time_start_cd AS flowTimeStartCd,
		    flow_time_end_cd AS flowTimeEndCd,
		    residence_population AS residencePopulation,
		    work_population AS workPopulation,
		    household AS household,
		    business AS business,
		    income AS income,
		    delivery_gender_cd AS deliveryGenderCd,
		    delivery_age_range_cd AS deliveryAgeRangeCd,
		    delivery_week_cd AS deliveryWeekCd,
		    delivery_time_start_cd AS deliveryTimeStartCd,
		    delivery_time_end_cd AS deliveryTimeEndCd,
		    delivery_method_cd AS deliveryMethodCd,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_location_analysis
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			area_id = #{areaId}
	</select>
	
	<!--  지역 입지 분석 등록  -->
	<insert id="insertLocationAnalysis" parameterType="com.jyes.www.vo.common.LocationAnalysisVo" useGeneratedKeys="true" keyProperty="locationAnalysisId">
		INSERT INTO t_location_analysis 
		    (area_id, 
		     aprtment_household, 
		     aprtment_transaction_price, 
		     aprtment_residence, 
		     flow_population, 
		     flow_age_range_cd, 
		     flow_time_start_cd,
		     flow_time_end_cd, 
		     residence_population, 
		     work_population, 
		     household, 
		     business, 
		     income, 
		     delivery_gender_cd, 
		     delivery_age_range_cd, 
		     delivery_week_cd, 
		     delivery_time_start_cd, 
		     delivery_time_end_cd, 
		     delivery_method_cd, 
		     reg_id, 
		     reg_date) 
	    VALUES 
			(#{areaId}, 
		     #{aprtmentHousehold}, 
		     #{aprtmentTransactionPrice}, 
		     #{aprtmentResidence}, 
		     #{flowPopulation}, 
		     #{flowAgeRangeCd}, 
		     #{flowTimeStartCd}, 
		     #{flowTimeEndCd}, 
		     #{residencePopulation}, 
		     #{workPopulation}, 
		     #{household}, 
		     #{business}, 
		     #{income}, 
		     #{deliveryGenderCd}, 
		     #{deliveryAgeRangeCd}, 
		     #{deliveryWeekCd}, 
		     #{deliveryTimeStartCd}, 
		     #{deliveryTimeEndCd}, 
		     #{deliveryMethodCd}, 
		     #{regId}, 
		     NOW())
	</insert>

	<!--  지역 입지 분석 수정  -->
	<update id="updateLocationAnalysis" parameterType="com.jyes.www.vo.common.LocationAnalysisVo">
		UPDATE t_location_analysis
		SET
			<if test="aprtmentHousehold != null">
		    	aprtment_household = #{aprtmentHousehold},
		    </if>
		    <if test="aprtmentTransactionPrice != null">
		    	aprtment_transaction_price = #{aprtmentTransactionPrice},
		    </if>
		    <if test="aprtmentResidence != null">
		    	aprtment_residence = #{aprtmentResidence},
		    </if>
		    <if test="flowPopulation != null">
		    	flow_population = #{flowPopulation},
		    </if>
	    	flow_age_range_cd = #{flowAgeRangeCd},
		    flow_time_start_cd = #{flowTimeStartCd},
		    flow_time_end_cd = #{flowTimeEndCd},
		    <if test="residencePopulation != null">
		    	residence_population = #{residencePopulation},
		    </if>
		    <if test="workPopulation != null">
		    	work_population = #{workPopulation},
		    </if>
		    <if test="household != null">
		    	household = #{household},
		    </if>
		    <if test="business != null">
		    	business = #{business},
		    </if>
		    <if test="income != null">
		    	income = #{income},
		    </if>
		    delivery_gender_cd = #{deliveryGenderCd},
		    delivery_age_range_cd = #{deliveryAgeRangeCd},
		    delivery_week_cd = #{deliveryWeekCd},
		    delivery_time_start_cd = #{deliveryTimeStartCd},
		    delivery_time_end_cd = #{deliveryTimeEndCd},
		    delivery_method_cd = #{deliveryMethodCd},
		    mod_id = #{modId},
		    mod_date = NOW()
		WHERE
		    location_analysis_id = #{locationAnalysisId};
	</update>

	<!--                       지역 테이블                                                      -->
	<!--  지역 전체 조회  -->
	<select id="areaByAll" resultType="com.jyes.www.vo.common.AreaVo">
		SELECT 
		    area_id AS areaId,
		    si_nm AS siNm,
		    sgg_nm AS sggNm,
		    emd_nm AS emdNm,
		    li_nm AS liNm,
		    rn AS rn,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_area
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
	</select>
	
	<!--  지역 조회  -->
	<select id="areaById" resultType="com.jyes.www.vo.common.AreaVo">
		SELECT 
		    area_id AS areaId,
		    si_nm AS siNm,
		    sgg_nm AS sggNm,
		    emd_nm AS emdNm,
		    li_nm AS liNm,
		    rn AS rn,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_area
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			area_id = #{areaId}
	</select>
	
	<!--  시도/시군구/읍면동/법정리/도로명 검색 :: 지역 조회  -->
	<select id="areaByConditionSearch" parameterType="com.jyes.www.vo.common.AreaVo" resultType="com.jyes.www.vo.common.AreaVo">
		SELECT 
		    area_id AS areaId,
		    si_nm AS siNm,
		    sgg_nm AS sggNm,
		    emd_nm AS emdNm,
		    li_nm AS liNm,
		    rn AS rn,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_area
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		<if test="siNm != null and siNm != ''">
			AND 
				si_nm = #{siNm}
		</if>
		<if test="sggNm != null and sggNm != ''">
			AND	
				sgg_nm = #{sggNm}
		</if>
		<if test="emdNm != null and emdNm != ''">
			AND	
				emd_nm = #{emdNm}
		</if>
		<if test="liNm != null and liNm != ''">
			AND	
				li_nm = #{liNm}
		</if>
		<if test="rn != null and rn != ''">
			AND	
				rn = #{rn}
		</if>
	</select>
	
	<!--  시도/시군구/읍면동/법정리/도로명 검색 :: 지역 시퀀스 가져오기  -->
	<select id="areaIdByConditionSearch" resultType="com.jyes.www.vo.common.AreaVo">
		SELECT 
		    area_id AS areaId
		FROM 
		    t_area
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		<if test="siNm != null and siNm != ''">
			AND 
				si_nm = #{siNm}
		</if>
		<if test="sgg_nm != null and sgg_nm != ''">
			AND	
				sgg_nm = #{sggNm}
		</if>
		<if test="emdNm != null and emdNm != ''">
			AND	
				emd_nm = #{emdNm}
		</if>
		<if test="liNm != null and liNm != ''">
			AND	
				li_nm = #{liNm}
		</if>
		<if test="rn != null and rn != ''">
			AND	
				rn = #{rn}
		</if>
	</select>
	
	<!-- 지역 등록  -->
	<insert id="insertArea" parameterType="com.jyes.www.vo.common.AreaVo" useGeneratedKeys="true" keyProperty="areaId">
		INSERT INTO t_area
			(si_nm,
			 sgg_nm,
			 emd_nm,
			 li_nm,
			 rn,
			 reg_id,
			 reg_date)
		VALUES
			(#{siNm}, 
			 #{sggNm}, 
			 #{emdNm}, 
			 #{liNm}, 
			 #{rn}, 
			 #{regId}, 
			 NOW()) 
	</insert>

	<!--                          파일 테이블                                          -->
	<!-- 파일 전체 조회 -->
	<select id="fileByAll" resultType="com.jyes.www.vo.common.FileVo">
		SELECT 
		    file_id AS fileId,
		    file_group_id AS fileGroupId,
		    original_name AS originalName,
		    save_path AS savePath,
		    save_name AS saveName,
		    url AS url,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_file
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
	</select>
	
	<!-- 파일 조회 -->
	<select id="fileById" resultType="com.jyes.www.vo.common.FileVo">
		SELECT 
		    file_id AS fileId,
		    file_group_id AS fileGroupId,
		    original_name AS originalName,
		    save_path AS savePath,
		    save_name AS saveName,
		    url AS url,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_file
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			file_id = #{fileId}
	</select>
	
	<!-- 파일 그룹으로 조회 :: 파일 조회 -->
	<select id="fileByGroupId" parameterType="map" resultType="com.jyes.www.vo.common.FileVo">
		SELECT 
		    file_id AS fileId,
		    file_group_id AS fileGroupId,
		    original_name AS originalName,
		    save_path AS savePath,
		    save_name AS saveName,
		    url AS url,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_file
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			file_group_id = #{fileGroupId}
		ORDER BY FILE_ID ASC
	</select>
	
	<!-- 파일 그룹으로 조회 :: 파일 조회 -->
	<select id="fileListByGroupId" parameterType="map" resultType="com.jyes.www.vo.common.FileVo">
		SELECT 
		    file_id AS fileId,
		    file_group_id AS fileGroupId,
		    original_name AS originalName,
		    save_path AS savePath,
		    save_name AS saveName,
		    url AS url,
		    is_deleted AS isDeleted,
		    etc AS etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_file
		WHERE 
			1 = 1
		AND	
			is_deleted = 'N'
		AND	
			file_group_id = #{fileGroupId}
		ORDER BY FILE_ID ASC
	</select>
	
	<!-- 파일 등록  -->
	<insert id="insertFile" parameterType="com.jyes.www.vo.common.FileVo" useGeneratedKeys="true" keyProperty="fileId">
		INSERT INTO t_file 
			(
			 <if test="fileGroupId != null and fileGroupId > 0">
			 	file_group_id, 
			 </if>
			 original_name, 
			 save_path, 
			 save_name, 
			 url, 
			 etc, 
			 reg_id, 
			 reg_date)
		VALUES
  			(
  			 <if test="fileGroupId != null and fileGroupId > 0">
  			 	#{fileGroupId},
  			 </if>
  			 #{originalName},
  			 #{savePath}, 
  			 #{saveName}, 
  			 #{url}, 
  			 #{etc}, 
  			 #{regId}, 
  			 NOW())
	</insert>
	
	<!-- 파일 삭제  -->
	<update id="deleteFile" parameterType="com.jyes.www.vo.common.FileVo">
		UPDATE t_file
		SET 
	    	is_deleted = 'Y',
		    mod_id = #{modId},
		    mod_date = NOW()
		WHERE
		    file_id = #{fileId}
	</update>
	
	<!-- 파일 삭제  -->
	<update id="deleteFileVo" parameterType="com.jyes.www.vo.common.FileVo">
		UPDATE t_file
		SET 
	    	is_deleted = 'Y',
		    mod_id = #{modId},
		    mod_date = NOW()
		WHERE
		    file_id = #{fileId}
	</update>

	<!--                            파일 그룹 테이블                                          -->
	<!--  파일 여러개를 하나로 묶기 위한 고유값 생성 / 파일 등록을 위한 파일 그룹 아이디 생성   -->
	<insert id="insertFileGroup" parameterType="com.jyes.www.vo.common.FileGroupVo" useGeneratedKeys="true" keyProperty="fileGroupId">
		INSERT INTO t_file_group 
			(reg_id,
			 reg_date)
		VALUES
	  		(#{regId},
	  		 NOW())
	</insert>

	<!-- 자주하는 질문 제목 테이블 조회 -->
	<select id="selectFaqTitle" resultType="com.jyes.www.vo.common.FaqTitleVo">
		SELECT 
			faq_title_id, 
			title, 
			is_deleted, 
			etc, 
			reg_id, 
			mod_id, 
			mod_date, 
			reg_date 
		FROM 
			T_FAQ_TITLE 
		WHERE 
			1=1 
		and 
			is_deleted != 'Y'
		ORDER BY REG_DATE DESC
	</select>
	
	<!-- 자주하는 질문 제목 조회 -->
	<select id="faqTitleList" resultType="com.jyes.www.vo.common.FaqTitleVo">
		SELECT 
			faq_title_id AS faq_title_id, 
			title AS title
		FROM 
			t_faq_title 
		WHERE 
			1 = 1 
		AND 
			is_deleted = 'N'
		ORDER BY REG_DATE DESC
	</select>

	<!-- 자주하는 질문 제목 테이블 입력 -->
	<insert id="insertFaqTitle" parameterType="com.jyes.www.vo.common.FaqTitleVo" useGeneratedKeys="true" keyProperty="fileGroupId">
		INSERT INTO t_faq_title
			(title,
			 etc,
			 reg_id,
			 reg_date)
		VALUES
	  		(#{title},
	  		 #{etc},
	  		 #{reg_id},
	  		 NOW())
	</insert>

	<!-- 자주하는 질문 제목 테이블 조회 -->
	<update id="updateFaqTitle" parameterType="com.jyes.www.vo.common.FaqTitleVo">
		UPDATE t_faq_title 
		SET 
		    mod_date = NOW() 
		    <if test='title != null and title != "" '>
		    ,title = #{title} 
		    </if>
			<if test='is_deleted != null and is_deleted != "" '>
		    ,is_deleted = #{is_deleted} 
		    </if>
			<if test='etc != null and etc != "" '>
		    ,etc = #{etc} 
		    </if>
			<if test='mod_id != null and mod_id != "" '>
		    ,mod_id = #{mod_id} 
		    </if>
		WHERE 
		    faq_title_id = #{faq_title_id}
	</update>

	<!-- 자주하는 질문 제목 테이블 삭제 -->
	<delete id="deleteFaqTitle" parameterType="com.jyes.www.vo.common.FaqTitleVo">
		delete from t_faq_title 
		where 
			1=1 
		and 
			faq_title_id = #{faq_title_id}
	</delete>
	
	<!-- 대분류 -->
	<select id="mainCategoryList" resultType="com.jyes.www.vo.common.CategoryVo">
		SELECT 
		    category_id AS categoryId,
		    parent_category_id AS parentCategoryId,
		    category_name AS categoryName,
		    navigator AS navigator,
		    seq AS seq
		FROM 
		    t_category
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			parent_category_id IS NULL
		ORDER BY seq ASC
	</select>
	
	<!-- 중분류 -->
	<select id="subCategoryList" resultType="com.jyes.www.vo.common.CategoryVo">
		SELECT 
		    category_id AS categoryId,
		    parent_category_id AS parentCategoryId,
		    category_name AS categoryName,
		    navigator AS navigator,
		    seq AS seq
		FROM 
		    t_category
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			parent_category_id IS NOT NULL
		ORDER BY parent_category_id ASC, seq ASC
	</select>
	
	<!--             코드 테이블                                  -->
	<!-- 요일 -->
	<select id="weekList" resultType="com.jyes.www.vo.common.CodeVo">
		SELECT 
		    group_cd AS groupCd,
		    detail_cd AS detailCd,
		    group_cd_name AS groupCdName,
		    detail_cd_name AS detailCdName,
		    is_deleted AS isDeleted,
		    etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_code
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			group_cd = 'WEEK'
		ORDER BY reg_date ASC
	</select>
	
	<!-- 성별 -->
	<select id="genderList" resultType="com.jyes.www.vo.common.CodeVo">
		SELECT 
		    group_cd AS groupCd,
		    detail_cd AS detailCd,
		    group_cd_name AS groupCdName,
		    detail_cd_name AS detailCdName,
		    is_deleted AS isDeleted,
		    etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_code
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			group_cd = 'GEND'
		ORDER BY reg_date ASC
	</select>
	
	<!-- 연령대 -->
	<select id="ageGroupList" resultType="com.jyes.www.vo.common.CodeVo">
		SELECT 
		    group_cd AS groupCd,
		    detail_cd AS detailCd,
		    group_cd_name AS groupCdName,
		    detail_cd_name AS detailCdName,
		    is_deleted AS isDeleted,
		    etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_code
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			group_cd = 'MARG'
		ORDER BY reg_date ASC
	</select>
	
	<!-- 시간대 -->
	<select id="timeList" resultType="com.jyes.www.vo.common.CodeVo">
		SELECT 
		    group_cd AS groupCd,
		    detail_cd AS detailCd,
		    group_cd_name AS groupCdName,
		    detail_cd_name AS detailCdName,
		    is_deleted AS isDeleted,
		    etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_code
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			group_cd = 'TIME'
		ORDER BY reg_date ASC
	</select>
	
	<!-- 배달 앱 -->
	<select id="deliveryList" resultType="com.jyes.www.vo.common.CodeVo">
		SELECT 
		    group_cd AS groupCd,
		    detail_cd AS detailCd,
		    group_cd_name AS groupCdName,
		    detail_cd_name AS detailCdName,
		    is_deleted AS isDeleted,
		    etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_code
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			group_cd = 'DELI'
		ORDER BY reg_date ASC
	</select>
	
	<!-- 온라인 URL -->
	<select id="onlineUrlList" resultType="com.jyes.www.vo.common.CodeVo">
		SELECT 
		    group_cd AS groupCd,
		    detail_cd AS detailCd,
		    group_cd_name AS groupCdName,
		    detail_cd_name AS detailCdName,
		    is_deleted AS isDeleted,
		    etc,
		    reg_id AS regId,
		    reg_date AS regDate,
		    mod_id AS modId,
		    mod_date AS modDate
		FROM 
		    t_code
		WHERE 
			1=1 
		AND 
			is_deleted = 'N'
		AND	
			group_cd = 'ONLN'
		ORDER BY reg_date ASC
	</select>
	
</mapper>